interactions:
- request:
    body:
    - 1486857
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.codingame.com/services/CodinGamer/findCodinGamerPublicInformations
  response:
    body:
      string: '{"userId":1486857,"pseudo":"sammck","countryId":"US","publicHandle":"2cdb2c48510cd9cfd702f1b2322a0b917586841","formValues":{"city":"Seattle","school":"University
        of Arizona"},"schoolId":1730,"avatar":7320595789984,"cover":97178068275583,"tagline":"Software
        engineer, architect, entrepreneur","company":"amigos.dev","city":"Seattle","level":36}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
